@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Welcome</h1>
   
    <p>Enter VIN number to find a Vehicle.</p>
    <form class="d-flex">
        <input class="form-control me-sm-2 " style="width: 50%"  type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>



