@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <h2>История на превозното средство и търсене по VIN</h2>
    <p class="text-primary">Избегни скъпо струващи проблеми като провериш историята на автомобила. Въведи VIN (шаси) номер и получаваш моментален доклад за автомобил.</p>
    <br></br>

   
</div>
<form class="d-flex">
    <input class="form-control me-sm-2" type="text" style="width: 500px" placeholder="Номер на шаси (VIN)">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>


